.select-input {
  border-radius: 5px;
  width: auto;
  font-size: 1.05rem;
  font-family: 'Merriweather Sans', sans-serif;
  padding: .3rem .8rem;
  color: rgb(170 166 195);
  border-width: 0.05rem;
  border-color: rgb(66, 62, 181);
  background-color: rgb(21 16 48);
  margin-left: 1rem;
}

@media screen and (max-width: 1150px) {
  .search-input {
    width: 45%;
  }
}

@media screen and (max-width: 790px) {
  .search-input {
    font-size: 1.35rem;
    width: 100%;
  }
}