.select-input {
  border-radius: 5px;
  width: auto;
  font-size: 1.05rem;
  font-family: 'Merriweather Sans', sans-serif;
  padding: .3rem .8rem;
  color: rgb(170 166 195);
  border-width: 0.05rem;
  border-color: rgb(66, 62, 181);
  background-color: rgb(21 16 48);
  margin-left: 1rem;
}

@media screen and (max-width: 650px) {
  .select-input {
    font-size: 1.07rem;
    width: 100%;
    margin: 1rem 0 0 0;
  }
}