* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3 7 18);
}

body::-webkit-scrollbar {
  width: .95rem;               
}

body::-webkit-scrollbar-track {
  background: rgb(3 7 18);        
}

body::-webkit-scrollbar-thumb {
  background-color: #ff321a;           
  border: 3px solid rgb(3 7 18);
  border-radius: 20px;
}

@media screen and (max-width: 650px) {
  .container {
    margin-inline: 3rem;
    margin-block: 3rem; 
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: rgb(170 166 195);
  font-family: 'Merriweather Sans', sans-serif;
}
