.container {
  margin-inline: 4rem;
  margin-block: 4rem; 
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.search-container > h1 {
  margin-top: 1rem;
}

.no-result {
  text-align: center;
}
