.container {
  margin-inline: 4rem;
  margin-block: 4rem; 
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container > h1 {
  margin-top: 1rem;
}

.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error-container > .error-img {
  width: 20rem;
  margin-top: 2rem;
}

.error-container > .timeout-img {
  width: 15rem;
  margin-top: 2rem;
}

.no-result {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .filter-container {
    flex-direction: column;
    width: 100%;
  }
}
